.root {
    -st-scoped: controls;
}

.up {
    -st-scoped: navigate-up;
    -st-states: enabled(".enabled");
}

.right {
    -st-scoped: navigate-right;
    -st-states: enabled(".enabled");
}

.down {
    -st-scoped: navigate-down;
    -st-states: enabled(".enabled");
}

.left {
    -st-scoped: navigate-left;
    -st-states: enabled(".enabled");
}
