.root {
    -st-global: ".controls";
}

.navigateUp {
    -st-global: ".navigate-up";
    -st-states: enabled(".enabled");
}

.navigateRight {
    -st-global: ".navigate-right";
    -st-states: enabled(".enabled");
}

.navigateDown {
    -st-global: ".navigate-down";
    -st-states: enabled(".enabled");
}

.navigateLeft {
    -st-global: ".navigate-left";
    -st-states: enabled(".enabled");
}
