.root {
    -st-global: ".fragment";
}
.current-fragment {
    -st-root: true;
    -st-global: ".current-fragment";
}
.visible {
    -st-root: true;
    -st-global: ".visible";
}
.fade-out {
    -st-root: true;
    -st-global: ".fade-out";
}

.fade-in-hidden {
    -st-root: true;
    -st-global: ".fade-in-hidden"; 
    -st-states: visible(".visible");
}
.root.fade-in-hidden:not(:visible) { display: none; }

.fade-out-hide { 
    -st-root: true;
    -st-global: ".fade-out-hide"; 
    -st-states: visible(".visible");
}
.root.fade-out-hide:visible { display: none; }
