/*
Reveal represent a none stylable html structure.

This file is NOT just an interface. It contains initializing values to help with better API.

ToDo: import and include reveal js base CSS.
*/
:vars {
    navigateColor: currentColor;
}

.root {
    -st-global: ' .reveal';
}

/*********************************************
 * VIEW FRAGMENTS
 *********************************************/
 :import {
    -st-theme: true;
    -st-from: "./fragment.st.css";
    -st-named: Fragment;
}
@custom-selector :--fragment .Fragment;

 /*********************************************
 * HEADERS
 *********************************************/
@custom-selector :--headings h1, h2, h3, h4, h5, h6;

/*********************************************
 * Code
 *********************************************/
 :import {
    -st-theme:true;
    -st-from: "./Code.st.css";
    -st-default: Code;
}

/*
pre should be part of Code somehow and allow language selection: Code:lang("css")
*/
@custom-selector :--code .root pre Code;

/*********************************************
* CUSTOM CODE HIGHLIGHT
*********************************************/

.root pre:global(.css) code {
    font-size: 25px;
}
:--code {
    overflow: visible;
}
:--code:unHighlight > *:not(mark) {
    color:rgb(206, 206, 206);
}
:--code:unHighlight > * *  {
    color:inherit;
}
:--code::mark *, :--code::mark [class*="hljs-"]  {
    color:inherit;
}
:--code::mark *
:--code:dimUnmarked *:not(mark) {
    color:rgba(141, 137, 137, 0.61);
}

:--code:dimUnmarked mark * {
    color:inherit;
}

/*********************************************
 * SLIDES
 *********************************************/
:import {
    -st-theme:true;
    -st-from: "./slides.st.css";
    -st-named: root as slides;
}
@custom-selector :--slides .slides;

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
:import {
    -st-theme:true;
    -st-from: "./controls.st.css";
    -st-default: Controls;
}
@custom-selector :--controls Controls;

@custom-selector :--navigateBtn Controls::navigateDown, Controls::navigateLeft, Controls::navigateRight, Controls::navigateUp;

Controls::navigateUp {
    border-bottom-color: value(navigateColor);
}

Controls::navigateRight {
    border-left-color: value(navigateColor);
}

Controls::navigateDown {
    border-top-color: value(navigateColor);
}

Controls::navigateLeft {
    border-right-color: value(navigateColor);
}

 /*********************************************
 * PROGRESS BAR
 *********************************************/
 :import {
    -st-theme:true;
    -st-from: "./progress.st.css";
    -st-default: Progress;
}

@custom-selector :--progress Progress;