:vars {
    navigateColor: currentColor;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
 /* check */

/*********************************************
 * VIEW FRAGMENTS
 *********************************************/
:import {
    -st-theme: true;
    -st-from: "./fragment.st.css";
    -st-default: Fragment;
}

 /*********************************************
 * HEADERS
 *********************************************/
@custom-selector :--headings h1, h2, h3, h4, h5, h6;

/*********************************************
 * OTHER
 *********************************************/
  /* check */
pre {
  display: block;
  position: relative;
  text-align: left;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
}
  
  /*********************************************
  * LINKS
  *********************************************/
  /* check */

  /*********************************************
 * IMAGES
 *********************************************/
   /* check */

/*********************************************
 * SLIDES
 *********************************************/
:import {
    -st-theme: true;
    -st-from: "./slides.st.css";    
    -st-default: Slides;
}

@custom-selector :--slides Slides;

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
:import {
    -st-theme: true;
    -st-from: "./controls.st.css";
    -st-default: Controls;
}
@custom-selector :--controls Controls;

@custom-selector :--navigateBtn Controls::up, Controls::right, Controls::down, Controls::left;

Controls::up {
    border-bottom-color: value(navigateColor);
}

Controls::right {
    border-left-color: value(navigateColor);
}

Controls::down {
    border-top-color: value(navigateColor);
}

Controls::left {
    border-right-color: value(navigateColor);
}

 /*********************************************
 * PROGRESS BAR
 *********************************************/
 :import {
    -st-theme:true;
    -st-from: "./progress.st.css";
    -st-default: Progress;
}

@custom-selector :--progress Progress;
