.root {
    -st-scoped: slides;
}


@custom-selector :--background :global(.backgrounds) .background, :global(~ .backgrounds) .background;

.background {
    -st-scoped: slide-background;
    -st-states: past(".past"), present(".present"), future(".future");
}